<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拼多多店铺采集设置</title>
</head>
<body>
    <div>
        <div align="center">拼多多店铺采集设置</div>

        <div align="center" style="margin-top: 10px;">
            <label>商品开始ID:</label><input type="text" name="productIdStart" >
            <label>商品结束ID:</label><input type="text" name="productIdEnd" >
        </div>

        <div align="center" style="margin-top: 10px;">
            <div style="margin-top: 5px;">商品数与销量之间</div>
            <div style="margin-top: 5px;">商品数:<input type="text" name="productCountStart">-<input type="text" name="productCountEnd"></div>
            <div style="margin-top: 5px;position: relative" >销量:<input type="text" name="salesCountStart">-<input type="text" name="salesCountEnd"></div>
         </div>
        <div align="center" style="margin-top: 5px;position: relative"><button type="button" id="spider_pdd_store_btn">开始采集</button> </div>


    </div>

</body>
</html>